github "nakiostudio/EasyPeasy"
github "ReactiveX/RxSwift" ~> 4.0
github "Alamofire/Alamofire" ~> 4.6
github "Alamofire/AlamofireImage" ~> 3.3
github "sunshinejr/Moya-ModelMapper" "7.0.0"
github "yannickl/DynamicButton" >= 5.0.0

